*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.list li a{
    text-decoration: none;
}
.list{
    text-decoration: none;
}
